<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script async src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&loading=async&libraries=places&callback=initAutocomplete">
  </script>
  <script>
    let autocomplete;
    function initAutocomplete(){
      autocomplete = new google.maps.places.Autocomplete(document.getElementById('autocomplete'),
      {
        componentRestriction: {'country': ['US']},
        fields: ['name']
      });

      autocomplete.addListener('place_changed', onPlaceChanged);
    }

    function onPlaceChanged(){
      var place = autocomplete.getPlace();
      document.getElementById('autocomplete').innerHTML = place.name;
    }

    function getLocationAndSubmitForm() {
        getLocation(function(position) {
            document.getElementById("latitude").value = position.coords.latitude;
            document.getElementById("longitude").value = position.coords.longitude;
            document.getElementById("current").submit();
      });
    }

    function getLocation(callback) {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(callback);
        }
    }
  </script>

</head>
<body>
  <form action="/get-location" method="POST">
    <input id="autocomplete" name="location" placeholder="Enter desired location" type="text" />  
    <button type="submit">Next</button>
  </form>
  <form id = "current" action = "/current-location" method = "POST">
    <input type = "hidden" id = "latitude" name = "latitude">
    <input type = "hidden" id = "longitude" name = "longitude">
    <button type = "button" onclick = "getLocationAndSubmitForm()">Use Current Location</button>
  </form>
</body>
</html>
