<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/styles.css">
        <title> Types </title>
    </head>
    <body>
        <form action="/cuisines" method="post">
            <label><input type="checkbox" name="restaurant" value="japanese_restaurant"> Japanese</label><br>
            <label><input type="checkbox" name="restaurant" value="chinese_restaurant"> Chinese</label><br>
            <label><input type="checkbox" name="restaurant" value="mexican_restaurant"> Mexican</label><br>
            <label><input type="checkbox" name="restaurant" value="indian_restaurant"> Indian</label><br>
            <label><input type="checkbox" name="restaurant" value="fast_food_restaurant"> Fast Food</label><br>
            <input type="submit" value="Submit">
        </form>
    </body>